* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.app__container {
  border: 1px solid black;
  max-width: 640px;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;
  margin: 10vh auto 0;
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.25);
}

.app__title {
  padding: 16px;
}

.app__single__post {
  padding: 16px;
}

.app__single__post:nth-child(odd) {
  background: rgba(0, 0, 0, 0.25);
}
